*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    
    
}
html{
    text-align: center;
}

 header{
    background-image: url("imagenes/Fts.zona sur/bibliotecasur.jpg");
    background-size: 100%;
    background-attachment: local;
    background-position: center;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
   
    
 }

.logo img{
    width: 50px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 40px;
    
    
}

nav{
    display: flex;
    padding: 15px;
    
}

nav a {
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 25px;
    justify-content: center;
}
h1{
    display: flex;
    justify-content:space-around;
    padding: 10px;
  
}
 

.title{
    color: white;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 28px;
     
}

.text1{
    font-weight: bold ;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 40px;
    text-align: center;
    
}



p{
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}

footer{
    background-color: rgb(187, 187, 188);
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}

